<div ng-if="activetab != '/quemsomos'" class="box">
    <h2>Quem somos</h2>
    <p>Fundada no ano de 2008, atua como representante legal de seguradoras vinculadas à Seguradora Líder para a avaliação e pagamento de indenizações para as vítimas de acidentes de trânsito ocorridos em todo o território nacional. </p>
    <a class="link" href="#/dpvat">Saiba mais</a>
</div>

<div ng-if="activetab != '/dpvat'" class="box">
    <h2>Sobre o DPVAT</h2>
    <p>O próprio nome do Seguro Dpvat é esclarecedor: Danos Pessoais Causados por Veículos Automotores de Via Terrestre. Isso significa que o Dpvat é um seguro que indeniza vítimas de acidentes causados por veículos que têm motor próprio (automotores) e circulam por terra ou por asfalto (vias terrestres).</p>
    <a class="link" href="#/dpvat">Saiba mais</a>
</div>

<div ng-if="activetab != '/formularios'" class="box">
    <h2>Formulários</h2>
    <p>Faça o Download dos formulários e documentos necessários para o seu processo.</p>
    <a class="link" href="#/formularios">Saiba mais</a>
</div>

<div ng-if="activetab != '/contato'" class="box">
    <h2>Contato</h2>
    <p>Tire suas dúvidas com a nossa equipe e garanta o recebimento dos seus direitos.</p>
    <a class="link" href="#/contato">Saiba mais</a>
</div>