<div class="banner-full">
    <img src="assets/images/banner_dpvat.jpg" alt=""/>
</div>

<div class="container page-quemsomos">
    <div class="layout-col2">
        <div class="main">
            <h2 class="tit ico-help">Sobre o DPVAT</h2>

            <p>O próprio nome do <strong>Seguro Dpvat</strong> é esclarecedor: <strong>Danos Pessoais Causados por Veículos Automotores de Via Terrestre</strong>.</p>
            <p>Isso significa que o Dpvat é um seguro que <strong>indeniza vítimas de acidentes</strong> causados por veículos que têm motor próprio (automotores) e circulam por terra ou por asfalto (vias terrestres).</p>
            <p>Observe que, nessa definição, não se enquadram trens, barcos, bicicletas e aeronaves. É por isso que acidentes envolvendo esses veículos não são indenizados pelo Seguro Dpvat.</p>
            <p>A mesma definição menciona que <strong>o Seguro Dpvat cobre danos pessoais</strong>, o que significa que não há cobertura para danos materiais, como roubo, colisão ou incêndio do veículo.</p>
            <p>Outro dado importante é que o Seguro Dpvat é obrigatório porque foi criado por lei, em 1974. <strong>Essa lei (Lei 6.194/74) determina que todos os veículos automotores de via terrestre, sem exceção, paguem o Seguro Dpvat</strong>. A obrigatoriedade do pagamento garante às vítimas de acidentes com veículos o <strong>recebimento de indenizações</strong>, ainda que os responsáveis pelos acidentes não arquem com essa responsabilidade.</p>

            <h2 class="tit ico-cobertura">Coberturas</h2>

            <p>O Seguro DPVAT oferece diferentes tipos de cobertura. O valor das indenizações varia de acordo com cada uma delas:</p>
            <p><strong>MORTE</strong> decorrente de acidente envolvendo veículos automotores de via terrestre ou cargas transportadas por esses veículos.</p>
            <p><strong>INVALIDEZ PERMANENTE TOTAL OU PARCIAL</strong> decorrente de acidente envolvendo veículos automotores de via terrestre ou cargas transportadas por esses veículos. O valor da indenização é calculado com base no percentual de invalidez permanente enquadrado na tabela de Normas de Acidentes Pessoais. Para esse efeito, leva-se em consideração o laudo médico emitido ao fim do tratamento e, conforme a necessidade, o laudo pericial.</p>
            <p><strong>DESPESAS DE ASSISTÊNCIA MÉDICA E SUPLEMENTARES (DAMS)</strong> decorrentes de tratamento realizado, sob orientação médica, por motivo de acidente envolvendo veículos automotores de via terrestre ou por cargas transportadas por esses veículos. A cobertura de DAMS prevê o reembolso de despesas devidamente comprovadas.</p>
            <div class="banner-infodpvat">
                <img src="assets/images/banner_info_dpvat.jpg" alt=""/>
            </div>

            <h2 class="tit ico-help">Dúvidas frequentes</h2>

            <p class="p">Quem pode usar?</p>
            <p class="r">Qualquer vítima de acidente envolvendo um veículo automotor de via terrestre - ou seu beneficiário - pode requerer a indenização do Seguro Dpvat.</p>
            <p class="p">E se o veículo que causou o acidente não for identificado?</p>
            <p class="r">
                Mesmo que o motorista do veículo fuja do local do acidente e que ninguém anote a placa do veículo, a vítima tem direito à indenização do Seguro Dpvat.<br />
                A indenização de acidentes envolvendo veículos não identificados obedece regras específicas, sobre as quais basta consultar as seguradoras conveniadas.
            </p>
            <p class="p">E quando o motorista do veículo não pode ser culpado pelo acidente?</p>
            <p class="r">A cobertura do Seguro Dpvat não está vinculada às regras de trânsito. As indenizações são pagas independentemente de apuração de culpa, desde que haja vítimas, transportadas ou não pelo veículo automotor.</p>
            <p class="p">E quando o acidente tem mais de uma vítima?</p>
            <p class="r">Não importa quantas vítimas o acidente provoque. O Seguro Dpvat indeniza todas, uma a uma, individualmente. Não há limite de vítimas nem de valores de indenização para um mesmo acidente.</p>
            <p class="p">Quem é beneficiado pela indenização em caso de vítimas fatais?</p>
            <p class="r">Com a entrada em vigor da Lei 11482/07, a definição dos beneficiários de morte depende da data em que o acidente ocorreu. Veja como isso se aplica:</p>
            <p class="i">Acidentes ocorridos até 28/12/2006</p>
            <p class="r">Os beneficiários seguem a seguinte ordem quanto ao direito de receber a indenização: em primeiro lugar, o cônjuge ou companheiro (a); na falta deste, os filhos; na falta destes, os pais ou avós e, na falta destes, por fim, tios ou sobrinhos da vítima.</p>
            <p class="i">Acidentes ocorridos a partir de 29/12/2006</p>
            <p class="r">Os beneficiários são, simultaneamente, o cônjuge e/ou o (a) companheiro (a), e os herdeiros da vítima. Havendo mais de um herdeiro, a cota será dividida entre eles, em partes iguais.</p>
            <p class="p">Nos casos de invalidez permanente, quem recebe a indenização?</p>
            <p class="r">Quem recebe a indenização é a própria vítima.</p>
            <p class="p">E as Despesas de assistência médica e suplementares (DAMS), quem recebe?</p>
            <p class="r">A própria vítima é quem recebe a indenização.</p>
            <p class="p">Quem paga o Seguro DPVAT?</p>
            <p>Bases legais da cobrança: Quem determina que todo proprietário de veículo deve pagar regularmente o Seguro Dpvat é a Lei 6.194/74</p>
            <p>Época do pagamento: A lei determina que o Seguro Dpvat deve ser pago todos os anos, juntamente com a cota única ou primeira parcela do IPVA. Essa regra é válida para veículos das Categorias 1, 2, 9 e 10. Seguindo determinação da Resolução CNSP 138/2005, exclusivamente para veículos de transportes coletivos - Categorias 3 e 4, no ano de 2006, fica permitido o pagamento do Seguro Dpvat até a data do emplacamento ou licenciamento anual do veículo. O prêmio dos veículos de transportes coletivos, conforme a mesma resolução, deve ser pago em parcela única.</p>
            <p>Pagamento Pro Rata (1º Licenciamento): Se o veículo está sendo licenciado pela primeira vez, o seguro será pago proporcionalmente ou pro rata. O valor a pagar corresponderá aos meses em que o veículo estará coberto até o fim do exercício.</p>
            <p>Isenção de pagamento: instituir o Seguro Dpvat como obrigatório, a Lei 6.194/74 estabeleceu que todos os proprietários de veículos automotores devem pagá-lo, sem exceção.</p>
             
        </div>
        <div class="right">
            <div ng-include='"views/partials/right.html"'></div>
        </div>
    </div>
</div>