<div class="banner-full">
    <img src="assets/images/banner_form.jpg" alt=""/>
</div>

<div class="container page-quemsomos">
    <div class="layout-col2">
        <div class="main">
            <section>
                <h1 class="tit ico-form">Formulários</h1>

                <p>Aqui você encontra os documentos e formulários necessários para receber a sua indenização.</p>
                <p><strong>Clique sobre o ícone</strong> de cada um dos arquivos para fazer o download.</p>

                <div class="list-pdf">
                    <ul>
                        <li>
                            <a href="/formularios/ARS-DECLARACAODEUNICOSHERDEIROS.pdf">Declaração de <span>Únicos herdeiros</span></a>
                        </li>
                        <li>
                            <a href="/formularios/ARS-DECLARACAODEAUSENCIADELAUDODOIML.pdf">Declaração de ausência <span>de laudo do iml</span></a>
                        </li>
                        <li>
                            <a href="/formularios/ARS-RELATORIOMEDICODEINVALIDEZPERMANENTE.pdf">Relatório médico de <span>invalidez permanente</span></a>
                        </li>
                        <li>
                            <a href="/formularios/ARS-DECLARACAODOPROPRIETARIODOVEICULO.pdf">Declaração do <span>proprietário do veículo</span></a>
                        </li>
                    </ul>

                    <ul>
                        <li>
                            <a href="/formularios/ARS-AUTORIZACAODEPAGAMENTO.pdf">Autorização de <span>pagamentos</span></a>
                        </li>
                        <li>
                            <a href="/formularios/ARS-AVISODESINISTRO.pdf">aviso de sinistro <span>dpvat</span></a>
                        </li>
                        <li>
                            <a href="/formularios/ARS-DECLARACAODERESIDENCIA.pdf">declaração de <span>residência</span></a>
                        </li>
                        <li>
                            <a href="/formularios/ARS-DECLARACAODECONJUGE.pdf">declaração de <span>cônjuge</span></a>
                        </li>
                    </ul>
                </div>

            </section>
        </div>
        <div class="right">
            <div ng-include='"views/partials/right.html"'></div>
        </div>
    </div>
</div>