<div class="banner-full">
    <img src="assets/images/banner_quemsomos.jpg" alt=""/>
</div>

<div class="container">
    <section class="destaque-home">
        <div class="destaque quemsomos">
            <h1>Quem somos</h1>
            <p>Fundada no ano de 2008, atua como representante legal de seguradoras vinculadas à <strong>Seguradora Líder</strong> para a avaliação e pagamento de indenizações para as vítimas de acidentes de trânsito ocorridos em todo o território nacional.</p>
            <a class="link" href="#/quemsomos">Saiba Mais</a>
        </div>
        <div class="destaque dpvat">
            <h1>Sobre o DPVAT</h1>
            <p>o Dpvat é um seguro que <strong>indeniza vítimas de acidentes</strong> causados por veículos que têm motor próprio (automotores) e circulam por terra ou por asfalto (vias terrestres). O Seguro DPVAT oferece diferentes tipos de cobertura e valores de indenização.</p>
            <a class="link" href="#/dpvat">Saiba Mais</a>
        </div>
        <div class="destaque contato">
            <h1>Contato</h1>
            <p>Fale com a nossa equipe. Tire todas as suas dúvidadas sobre o processo e documentos necessários para receber a indenização do Seguro DPVAT</p>
            <a class="link" href="#/contato">Saiba Mais</a>
        </div>
    </section>
</div>

<div class="como-funciona">
    <div class="container">
        <section>
            <div class="content">
                <h1>Como funciona ?</h1>
                <p>A Agência Reguladora de Seguros DPVAT tem uma equipe preparada e experiente para ajuda-lo em todos os procedimentos e etapas que envolvem o recebimento das indenizações do Seguro DPVAT. A partir do seu contato com o nosso time, encaminhamos todas as demandas necessárias para que o seu processo seja concluído.</p>
                <a class="link blue" href="#/contato">Fale Conosco</a>
            </div>
        </section>
    </div>
</div>

<div class="docform">
    <div class="container">
        <section>
            <h1>Documentos e Formulários</h1>
            <div class="content">
                <ul>
                    <li><a href="">Autorização de pagamento</a></li>
                    <li><a href="">Aviso de sinistro DPVAT</a></li>
                    <li><a href="">Declaração de residência</a></li>
                    <li><a href="">Declaração de cônjuge</a></li>
                </ul>

                <ul>
                    <li><a href="">Declaração de unicos herdeiros</a></li>
                    <li><a href="">Declaração de ausência de laudo do IML</a></li>
                    <li><a href="">Relatório médico de invalidez permanente</a></li>
                    <li><a href="">Declaração do proprietário do veículo</a></li>
                </ul>
            </div>
        </section>
    </div>
</div>

<div class="processo">
    <div class="container">
        <section>
            <h1>ACOMPANHE SEU PROCESSO</h1>
            <p>Acesse o sistema e obtenha as informações sobre o andamento do seu caso.</p>
            <p>Basta clicar no botão abaixo e, na página seguinte, inserir seu Login e Senha.</p>
            <a class="link blue" target="_blank" href="http://comprev.proevodpvat.com.br/">Clique aqui</a>
        </section>
    </div>
</div>