<div class="banner-full">
    <img src="assets/images/banner_quemsomos.jpg" alt=""/>
</div>

<div class="container page-quemsomos">
    <div class="layout-col2">
        <div class="main">
            <section>
                <h1 class="tit ico-quemsomos">ARS - AgENCIA REGULADORA DE SINISTROS</h1>
                <p>Fundada no ano de 2008, atua como representante legal de seguradoras vinculadas à Seguradora Líder para a avaliação e pagamento de indenizações para as vítimas de acidentes de trânsito ocorridos em todo o território nacional.</p>
                <p>Nosso objetivo é prestar serviços de regulação de sinistros, o que significa recepcionar, analisar e acompanhar o andamento de um processo de sinistro do início até a sua finalização.</p>
                <p>Contamos com uma equipe plenamente preparada para dar apoio aos beneficiários do seguro DPVAT, bem como aos nossos parceiros espalhados pelo Brasil, oferencendo meios de mantê-los informados de todo o andamento de seu processo.</p>
                <p>E o que é mais importante: nosso trabalho é totalmente gratuíto, não sendo cobrado nenhum valor do beneficiário do seguro, pois somos remunerados diretamente pelas seguradoras a quem prestamos serviço, garantindo aos beneficiários do DPVAT o recebimento integral de sua indenização, sem qualquer desconto ou retenção de valores.</p>
                <p>Estamos tecnicamente capacitados para atuar em todo o território nacional, atuando com extrema excelência, oferecendo o melhor mecanismo de informação disponível no mercado, garantindo confiança e agilidade nos serviços realizados no ramo de seguro DPVAT.</p>
            </section>
        </div>
        <div class="right">

            <div class="box">
                <h2>Sobre o DPVAT</h2>
                <p>O próprio nome do Seguro Dpvat é esclarecedor: Danos Pessoais Causados por Veículos Automotores de Via Terrestre. Isso significa que o Dpvat é um seguro que indeniza vítimas de acidentes causados por veículos que têm motor próprio (automotores) e circulam por terra ou por asfalto (vias terrestres).</p>
                <a class="link" href="#/dpvat">Saiba mais</a>
            </div>

            <div class="box">
                <h2>Formulários</h2>
                <p>Faça o Download dos formulários e documentos necessários para o seu processo.</p>
                <a class="link" href="#/formularios">Saiba mais</a>
            </div>

            <div class="box">
                <h2>Contato</h2>
                <p>Tire suas dúvidas com a nossa equipe e garanta o recebimento dos seus direitos.</p>
                <a class="link" href="#/contato">Saiba mais</a>
            </div>
        </div>
    </div>
</div>